<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Restaurant Apps</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
</head>

<body>
  <!-- skip-link -->
  <a href="#main-content" class="skip-link">Menuju ke konten</a>

  <!-- nav -->
  <nav>
    <div class="menu-hp">
      <div class="logo-font">
        <a href="/"> My Restaurant Apps </a>
      </div>
      <div class="menu-container">
        <button class="menu" aria-label="button menu dropdown on mobile" type="button">
          <span class="fa fa-bars"></span>
        </button>
      </div>
    </div>

    <ul class="nav-list">
      <li class="nav-item"><a href="/">Home</a></li>
      <li class="nav-item"><a href="#">Favorite</a></li>
      <li class="nav-item">
        <a href="https://www.linkedin.com/in/adisufatul-anam/" target="_blank" rel="noopener noreferrer">About</a>
      </li>
    </ul>
  </nav>

  <!-- header -->
  <header class="hero">
    <!-- hero content -->
    <div tabindex="0" class="hero-text">
      <h1 class="hero-title">Welcome to My Restaurant Apps</h1>
      <a href="#main-content" class="btn">Read More</a>
    </div>
  </header>

  <!-- main content -->
  <main>
    <div id="main-content" class="main-content-container">
      <h2 tabindex="0" class="main-content-title">Explore Restaurant</h2>
      <section id="explore-restaurant"></section>
    </div>
  </main>

  <!-- footer -->
  <footer tabindex="0">
    <ul>
      <li>Copyright © 2021 - AdisufatulAnam</li>

    </ul>
  </footer>
</body>

</html>